*{
    margin: 0;
    border: solid 1px #405b78;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}
body{
    font-size: 0;
}
header{
    background-color: #ffa5a5;
}
h1{
    padding: 20px;
    font-weight: 400;
}
nav {
    background-color: #9eecff;
    padding: 20px;
}
main{
    display: inline-block;
    vertical-align: top;
    width: 65%;
}
section{
    background-color: #d8fdad;
    padding: 10px;
}
h2{
    background-color: #f7aaa4;
    padding: 10px;
}
article{
    background-color: #cbb4ea;
    padding: 40px;
}
aside{
    background-color: #bdbdbd;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    padding: 112px 20px;
}
footer{
    background-color: #ffbb7d;
    padding: 20px;
}